<form class="mat-typography">
  <div class="meal-type-container">
    <div>
      <mat-form-field [class.half]="selectedMeal">
        <mat-select name="mealType" placeholder="Étkezés" [(ngModel)]="mealType" (selectionChange)="onSelect($event)">
          <mat-option *ngFor="let meal of meals" [value]="meal.value">
            {{ meal.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="selectedMeal" [class.half]="selectedMeal">
        <input matInput disabled [value]="'Összesen: ' + sumCh + 'g'">
      </mat-form-field>
    </div>

    <p class="heading1" *ngIf="selectedMeal">Bevihető szénhidrát</p>
    <div class="goal-ch-container input-panel" *ngIf="selectedMeal">
      <div [class.half]="doubleCh">
        <div class="slider">
          <span>Lassú</span>
          <mat-slider name="slowCh" [step]="1" [tickInterval]="10" [thumbLabel]="true" [(ngModel)]="goalSlowCh"></mat-slider>
          <span>{{goalSlowCh}} g</span>
        </div>
      </div>
      <div class="half" *ngIf="doubleCh">
        <div class="slider">
          <span>Gyors</span>
          <mat-slider name="quickCh" [step]="1" [tickInterval]="10" [thumbLabel]="true" [(ngModel)]="goalQuickCh"></mat-slider>
          <span>{{goalQuickCh}} g</span>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="selectedMeal">
    <p class="heading1">100g tartalmaz</p>
    <div class="input-panel">
      <mat-form-field [ngClass]="{'half': doubleCh}">
        <input name="mealSlowCh" matInput placeholder="Lassú szénhidrát" [(ngModel)]="slowChPer100">
      </mat-form-field>

      <mat-form-field class="half" *ngIf="doubleCh">
        <input name="mealQuickCh" matInput placeholder="Gyors szénhidrát" [(ngModel)]="quickChPer100">
      </mat-form-field>
    </div>

    <p class="heading1" *ngIf="resultSlowCh">Ennyit egyél</p>
    <div class="input-panel result" *ngIf="resultSlowCh">
      <mat-form-field [ngClass]="{'half': doubleCh}">
        <input matInput disabled placeholder="Lassú szénhidrát" [value]="resultSlowCh">
      </mat-form-field>

      <mat-form-field class="half" *ngIf="doubleCh">
        <input matInput disabled placeholder="Gyors szénhidrát" [value]="resultQuickCh">
      </mat-form-field>
    </div>

  </div>
</form>
