<div class="container"
     [class.is-mobile]="mobileQuery.matches">

  <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>CH-Calculator</span>
      <span class="header-spacer"></span>
      <!--<mat-icon>info_outline</mat-icon>-->
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a [class.active-mode]="mode === 0" mat-list-item (click)="mode=0">160g diéta</a>
        <!--<a [class.active-mode]="mode === 1" mat-list-item (click)="mode=1">Adag kiszámolás</a>-->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-ch-calculator *ngIf="mode === 0"></app-ch-calculator>
      <!--<app-ch-calculator *ngIf="mode === 1"></app-ch-calculator>-->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
