@media only screen and (min-width: 600px) {
  form {
    margin-left: 20%;
    margin-right: 20%;
  }
}

form mat-form-field {
  width: calc(100% - 20px);
  padding: 0 10px;
}
form mat-form-field.half {
  width: calc(50% - 20px);
}

.meal-hint {
  padding: 0px 10px 30px;
  margin-top: -10px;
  color: #777;
  font-weight: bold;
}

p {
  padding: 20px 10px 0;
}

.heading1 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.heading2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.result input {
  color: #222;
}
