<form class="mat-typography">
  <div>
    <mat-form-field>
      <mat-select name="mealType" placeholder="Étkezés" [(ngModel)]="mealType" (selectionChange)="onSelect($event)">
        <mat-option *ngFor="let meal of meals" [value]="meal.value">
          {{ meal.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="meal-hint" *ngIf="selectedMeal">Összesen {{sumCh}} g szénhidrát {{selectedMeal.hint}}</div>
  </div>

  <div *ngIf="selectedMeal">
    <div>
      <mat-form-field [ngClass]="{'half': doubleCh}">
        <input name="slowCh" matInput placeholder="Bevihető LASSÚ szénhidrát" [(ngModel)]="goalSlowCh">
      </mat-form-field>

      <mat-form-field class="half" *ngIf="doubleCh">
        <input name="quickCh" matInput placeholder="Bevihető GYORS szénhidrát" [(ngModel)]="goalQuickCh">
      </mat-form-field>
    </div>

    <p class="heading1">100g tartalmaz...</p>
    <div>
      <mat-form-field [ngClass]="{'half': doubleCh}">
        <input name="mealSlowCh" matInput placeholder="Lassú CH" [(ngModel)]="slowChPer100">
      </mat-form-field>

      <mat-form-field class="half" *ngIf="doubleCh">
        <input name="mealQuickCh" matInput placeholder="Gyors CH" [(ngModel)]="quickChPer100">
      </mat-form-field>
    </div>

    <p class="heading2">Ennyit egyél</p>
    <div class="result">
      <mat-form-field [ngClass]="{'half': doubleCh}">
        <input matInput disabled [value]="resultSlowCh">
      </mat-form-field>

      <mat-form-field class="half" *ngIf="doubleCh">
        <input matInput disabled [value]="resultQuickCh">
      </mat-form-field>
    </div>

  </div>


</form>
